.thumbnail {
  top: calc((100vh - 85px) / 2 + 85px);
  margin-left: calc(50vw + 660px - 40rem);
  transform: translate(0, -50%);
  /* transform: translateX(-50%); */
  opacity: 0;
  z-index: 10;
}

#thumbnail-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

#window {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 420px;
}

.thumbnail-container {
  display: flex;
  position: absolute;
  left: -410px;
}

.thumbnail-cell {
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.thumbnail-cell p {
  height: 400px;
}

@media (max-width: 1320px) {
  .thumbnail {
    margin-left: calc(50vw + 512px - 40rem);
  }
}

@media (max-width: 1024px) {
  .thumbnail {
    margin-left: calc(50vw + 384px - 42.5rem);
  }
}

@media (max-width: 767px) {
  .thumbnail {
    margin-left: calc(50vw + 384px - 37.7rem);
  }

  .next,
  .prev {
    width: 60px;
  }

  #window {
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 320px;
  }

  .thumbnail-container {
    display: flex;
    position: absolute;
    left: -310px;
  }

  .thumbnail-cell {
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  .thumbnail-cell p {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .thumbnail {
    margin-left: calc(50vw + 384px - 34rem);
  }

  .next,
  .prev {
    width: 40px;
  }

  #window {
    overflow: hidden;
    position: relative;
    height: 210px;
    width: 230px;
  }

  .thumbnail-container {
    display: flex;
    position: absolute;
    left: -220px;
  }

  .thumbnail-cell {
    overflow: hidden;
    width: 210px;
    height: 210px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  .thumbnail-cell p {
    height: 210px;
  }
}
