.modal-korea {
  display: none;
  position: absolute;
  width: 23rem;
  height: 26.25rem;
  top: 50vh;
  left: 60vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
  transition: all 2s linear;
}

.modal-usa {
  display: none;
  position: absolute;
  width: 14rem;
  height: 7rem;
  top: 55vh;
  left: 38vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
}

.modal-china {
  display: none;
  position: absolute;
  width: 14rem;
  height: 7rem;
  top: 52vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
}

.modal-uk {
  display: none;
  position: absolute;
  width: 20rem;
  height: 7rem;
  top: 45vh;
  left: 38vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
}

.modal-vietnam {
  display: none;
  position: absolute;
  width: 20rem;
  height: 10rem;
  top: 50vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
}

.modal-thailand {
  display: none;
  position: absolute;
  width: 20rem;
  height: 6rem;
  top: 50vh;
  left: 55vw;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 242, 242, 0.8);
  border: 1px solid #181818;
}

.modal-title {
  padding: 0.5em 0 0.3rem 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #181818;
}

.modal-subtitle {
  padding: 0.3rem 0 0.3rem 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.modal-contant {
  margin-left: 1rem;
  font-size: 0.75rem;
  line-height: 14.4px;
}
