.md {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 9rem;
}

.md-image-container {
  height: 160px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 21px;
}
.md-image-container img {
  width: 429px;
}
.md-content {
  animation: movemd 1.5s forwards;
}

.md-text {
  letter-spacing: -0.5px;
  width: 691px;
  display: none;
  animation: blockmd 1.5s forwards;
}

@keyframes movemd {
  from {
    width: 0px;
  }
  to {
    width: 691px;
  }
}

@keyframes blockmd {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 13rem;
  margin-bottom: 9rem;
}

.mc-image-container {
  width: 270px;
  height: 275px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.mc-image-container img {
  width: 269px;
}

.mc-content {
  animation: movemc 1.5s forwards;
}

.mc-text {
  letter-spacing: -0.5px;

  width: 691px;
  display: none;
  animation: blockmc 1.5s forwards;
}

@keyframes movemc {
  from {
    width: 0px;
  }
  to {
    width: 691px;
  }
}

@keyframes blockmc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.textcontrol {
  color: white;
  font-size: 24px;
}

.textcontrol h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 1320px) {
  .textcontrol {
    font-size: 19px;
  }
  .md-image-container img {
    width: 321px;
  }

  .md-text,
  .mc-text {
    width: 519px;
    letter-spacing: -0.9px;
  }

  @keyframes movemd {
    from {
      width: 0px;
    }
    to {
      width: 519px;
    }
  }

  .mc-image-container img {
    width: 200px;
  }

  @keyframes movemc {
    from {
      width: 0px;
    }
    to {
      width: 519px;
    }
  }
}

@media (max-width: 1024px) {
  .md {
    flex-direction: column;
    margin-top: 5rem;
  }

  .mc {
    margin-top: 5rem;
    flex-direction: column;
  }
  .textcontrol {
    font-size: 1rem;
  }

  .md-image-container,
  .mc-image-container {
    margin: 0;
  }

  .mc-image-container {
    width: 200px;
    order: -1;
  }

  .md-image-container img {
    width: 321px;
  }

  .md-text,
  .mc-text {
    width: 430px;
    letter-spacing: -0.9px;
    text-align: center;
  }

  @keyframes movemd {
    from {
      height: 0;
    }
    to {
      height: 100px;
    }
  }

  .mc-image-container img {
    width: 200px;
  }

  @keyframes movemc {
    from {
      height: 0;
    }
    to {
      height: 100px;
    }
  }
}

@media (max-width: 767px) {
  .textcontrol {
    font-size: 14px;
  }

  .md {
    flex-direction: column;
    margin-top: 3rem;
  }

  .mc {
    margin-top: 0;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .mc-image-container {
    width: 148px;
    order: -1;
  }

  .md-image-container img {
    width: 270px;
  }

  .md-text,
  .mc-text {
    width: 268px;
    letter-spacing: -0.9px;
    text-align: center;
  }

  @keyframes movemd {
    from {
      height: 0;
    }
    to {
      height: 100px;
    }
  }

  .mc-image-container img {
    width: 148px;
  }

  @keyframes movemc {
    from {
      height: 0;
    }
    to {
      height: 100px;
    }
  }
}
