.md {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.mc {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;

  top: 55vh;
}

.md-image-container {
  height: 160px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.md-content {
  /* width: 0px; */
  /* transition: 2s; */
  animation: move 1s forwards;

  /* display: none; */
  /* height: 0px; */
  /* margin-left: 75px; */
}

.md-text {
  /* opacity: 0; */
  display: none;
  animation: block 1s forwards;
}

@keyframes move {
  from {
    width: 0px;
  }
  to {
    width: 549.05px;
  }
}

@keyframes block {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @media (max-width: 1200px) {
  .md-text {
    display: block;
  }
} */

.mc-image-container {
  width: 270px;
  height: 275px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.mc-content {
  display: none;
  margin-right: 100px;
  text-align: right;
}
/* .mcctext{
    position: absolute;
    transition: all 1s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
} */

/* .move-left {
  transform: translate(-500px, 0);
  -webkit-transform: translate(-500px, 0);
  -o-transform: translate(-500px, 0);
  -moz-transform: translate(-500px, 0);
}
.move-right {
  transform: translate(500px, 0);
  -webkit-transform: translate(500px, 0);
  -o-transform: translate(500px, 0);
  -moz-transform: translate(500px, 0);
} */

.textcontrol {
  color: white;
  font-size: 20px;
  font-family: locus_sangsang;
}

.textcontrol h1 {
  font-weight: bold;
  margin-bottom: 1rem;
}
