#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: opacity;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.main-message {
  top: 38vh;
  opacity: 0;
  text-align: center;
}

.sticky-elem-canvas {
  top: 0px;
  height: 100%;
}

#scroll-section-1 canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.partnersA .a {
  width: 100%;
}

.partnersA {
  top: 38vh;
  width: 25rem;
  left: calc(50vw - 660px + 20rem);
  transform: translate(-50%, -50%);

  opacity: 0;
}

.partnersB {
  top: 68vh;
  width: 12rem;
  left: calc(50vw - 660px + 20rem);
  transform: translate(-50%, -50%);

  opacity: 0;
}

#scroll-section-2 {
  display: flex;
  justify-content: center;
}

.google-map {
  width: 50vw;
}

.map-container {
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

.contact {
  width: 50vw;
}

.prev:hover,
.next:hover {
  opacity: 50%;
}

@media (max-width: 1320px) {
  .partnersA,
  .partnersB {
    left: calc(50vw - 512px + 20rem);
  }
}

@media (max-width: 1024px) {
  .partnersA,
  .partnersB {
    left: calc(50vw);
  }
}
