.video-container {
  overflow: hidden;
}

.video-container-main {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

video {
  pointer-events: none;
  height: calc(100vh - 85px);
}
video::-webkit-media-controls-panel {
  display: none !important;
}
video::-moz-media-controls-panel {
  display: none !important;
}
video::-o-media-controls-panel {
  display: none !important;
}
video::-ms-media-controls-panel {
  display: none !important;
}

main {
  overflow: hidden;
}

.logo1 {
  font-weight: 900;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.logo2 {
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 1320px) {
  video {
    height: calc(95vh - 85px);
  }
}

@media (max-width: 1024px) {
  video {
    height: calc(85vh - 85px);
  }
}
