.video-container {
  overflow: hidden;
}

video {
  pointer-events: none;
}
video::-webkit-media-controls-panel{ display: none !important; }
video::-moz-media-controls-panel { display: none !important; }
video::-o-media-controls-panel { display: none !important; }
video::-ms-media-controls-panel { display: none !important; }